{% extends "base.html" %}
{% block title %}
  Добавить новость
{% endblock title %}
{% block content %}
  <h1>Добавить новость</h1>
  <hr>
  <form method="POST" action="" novalidate>
    {{ form.csrf_token }}
      <div class="form-group">
        <label >
          {{ form.title.label }}
        </label>
        {{ form.title(class="form-control") }}
      </div>
      {% for error in form.title.errors %}
        <div class="alert alert-danger" role="alert">
          <span>{{ error }}</span>
        </div>
      {% endfor %}
      <div class="form-group">
        <label >
          {{ form.text.label }}
        </label>
        {{ form.text(class="form-control", rows="5") }}
      </div>
      {% for error in form.text.errors %}
        <div class="alert alert-danger" role="alert">
          <span>{{ error }}</span>
        </div>
      {% endfor %}
      <div class="form-group">
        <label >
          {{ form.category.label }}
        </label>
        {{ form.category(class="form-control") }}
      </div>
    {{ form.submit(class="btn btn-primary btn-lg") }}
  </form>
{% endblock content %}